.box{
    
    background-color: lightskyblue;
    width: 500px;
    height: 300px;
    position: absolute; 
top: 100px;
    left: 375px;
}
html{
    background-color: black;
}
.circle{
     border-radius: 50%;
     height: 400px;
     width: 400px;
     background-color: black;
     position: absolute;
     left: 50px;
     top: -50px;
}
.circle-a{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-color: lightskyblue;
    position: absolute;
    left: 125px;
    top: 25px;
}
.circle-b{
    background-color: blueviolet;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
top: 100px;
}