body {
  background: #111;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* sunset */
.sunset-scene {
  width: 800px;
  height: 600px;
  background: linear-gradient(
    to bottom,
    #ff9a3c 0%,
    #ff6338 35%,
    #d94848 55%,
    #1f2d4a 55%,
    #0e1828 100%
  );
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

/* Sun */
.sun {
  position: absolute;
  width: 260px;
  height: 260px;
  background: radial-gradient(circle, #ffe9a9, #ffcd60, #ff914d);
  border-radius: 50%;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 80px 40px rgba(255, 192, 90, 0.45);
}

/* Water layer */
.water {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  background: linear-gradient(to bottom, #21324f, #0d1625);
  overflow: hidden;
}

/* Reflective colored stripes */
.reflection {
  position: absolute;
  top: -20px;
  width: 100%;
  height: 180%;
  opacity: 0.75;
  
  background:
  /*--this is my water--*/
    repeating-linear-gradient(
      to bottom,
      rgba(56, 118, 242, 0.55) 0px,
      rgba(248, 248, 248, 0.55) 6px,
      rgba(56, 118, 242, 0.55) 6px,
      rgba(248, 248, 248,0.55) 14px,
      rgba(56, 118, 242, 0.35) 14px,
      rgba(248, 248, 248, 0.35) 22px,
      transparent 22px,
      transparent 38px
    );

  transform: skewY(-8deg);
  filter: blur(1px);
}

