*{
margin: 0px;
background-color: hotpink;
}
div{
    width: 200px;
    height: 250px;
    background-color: paleturquoise;
}
.container{
    width: 800px;
    height: 500px;
    border: 3px solid black;
    background-color: aliceblue;
    display: flex;
    gap: 20px;
}