*{
    background-color: black;

}
.box{
    
    background-color: aliceblue;
    position: absolute;
    left: 375px;
    top: 100px;
    width: 500px;
    height: 300px;
}

.lemon{
    box-shadow: -30px 0px blueviolet,
    -60px 0px gray;
    position: absolute;
    top: 100px;
    left: 200px;
    background-color: blue;
    width: 150px;
    height: 150px;
    border-top-left-radius: 60%;
    border-bottom-right-radius: 60%;
}
