*{
    background-color: black;

}
.box{
    background-color: aliceblue;
    position: absolute;
    left: 375px;
    top: 100px;
    width: 500px;
    height: 300px;
}
.lemon{
    position: absolute;
    top: 100px;
    left: 375px;
    background-color: blue;
    width: 150px;
    height: 150px;
    border-top-left-radius: 60%;
    border-bottom-right-radius: 60%;
}