body{
    background-size: cover;
    background-image: linear-gradient(hotpink, rgb(0, 0, 0));
}

.circle {
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: 200px;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(180deg, yellow, rgb(255, 251, 0), salmon, hotpink, rgb(255, 0, 212));
}